<html>

<head>
  <title>Poster Viewer</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/shared.js"></script>
  <script src="/js/done.js"></script>
</head>

<body>
  <div id="succesful-submit" class="row" style="text-align:center">
    <p class="ui header">Thank you for completing the task!</p>
    <div style="background-color: lightgray; display: inline-block; align-items: center; padding: 20px; border-radius: 10px">
      <p>MTurk submit code:</p>
      <p class="ui header" id="submit-code"></p>
    </div>
    <p class="ui header">You can refresh the page on your desktop to copy the code from there.</p>
  </div>
</body>

</html>