<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <head>
    <title>Poster Viewer</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid" id="body-container-fluid">
				<div class="container">
					<div class="jumbotron">
            <br>
						<h1 class="display-1"><i class="fa fa-spin fa-cog fa-3x"></i></h1>
						<h1 class="display-3">Inappropriate Device or User</h1>
						<h2 class="lower-case">If you have not done this task in the past, please do it on a mobile device!</h2>
          </div>
				</div>
			</div>
    <script src="/js/main.js"></script>
  </body>
</html>
