<html>
  <head>
    <title>Poster Viewer</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css">
    <script src="https://cdn.jsdelivr.net/npm/url-search-params-polyfill@5.0.0/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/photoswipe.js"></script> <!-- we added an event for logging -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
    <script src="/js/viewer.js"></script>
  </head>
  <body>
    <style>
      .pswp__counter {
        font-size: 24px;
      }
    </style>

    <div id="error-url">
      <h1>Poster Viewer</h1>
      <h2>No posters here, make sure the url is correct!</h2>
    </div>
    <div id="galleries"></div>

    <div id="experiment" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>


        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <!--
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                -->

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>


            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>
      </div>
    </div>

    <div id="incomplete-task" class="row" style="display: none; text-align: center">
      <h2 class="ui header">You've skimmed through all the pictures. We ask you to pay more careful attention to each one. Please spend at least 5 seconds per image, looking and zooming around.</h2><br>
      <h2 class="ui header">The task will automatically restart momentarily.</h2><br>
    </div>

    <div id="done" class="row" style="display: none; text-align: center">
      <h1 class="ui header">You are done!</h1><br>
      <h2 class="ui header">Please refresh the page on your browser to complete a brief survey and get your completion key.</h2><br>
      <h3 class="ui header">Or, you can complete the survey on mobile by refreshing this page.</h3><br>
    </div>
  </body>
</html>
