body {
  background-color: white;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 300%;
}

.display-1 {
  text-align: center;
  color: #e1b7b7;
}

.display-1 .fa {
  animation: fa-spin 5s infinite linear;
}

.display-3 {
  text-align: center;
  color: #df726a;
}

.lower-case {
  text-align: center;
}
