body {
  background-color: white;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 300%;
  text-align: center;
}

h4 {
  line-height: 125%;
}
