body {
  background-color: white;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 300%;
  text-align: center;
}


h1 .fa {
  color: #e1b7b7;
  animation: fa-spin 5s infinite linear;
}

h1 {
  color: #df726a;
}
