form {
  text-align: left;

  // label that wraps a checkbox / radio button is clickable
  label:not([for]) {
    cursor: pointer;
    margin-left: 16px;
    line-height: 150%;
  }

  // headings
  label[for] {
    display: block;
    margin-top: 16px;
    font-weight: bold;
  }

  textarea {
    width: 100%;
    font-size: 100%;
  }

  input[type="submit"] {
    display: block;
    margin-top: 16px;
    margin-left: auto;
    font-size: 100%;
  }

  .jsonform-errortext {
    color: red;
    margin-bottom: 16px;
  }

  div.form-group.radio-range {
    div.input-group > *, div.radio {
      display: inline-block;
    }
    .input-group-addon:last-child {
      margin-left: 16px;
    }
    label:not([for]) {
      margin-left: 8px;
    }
  }
}
