.viewer {
  .pswp__counter {
    font-size: 24px;
  }
  .pswp__top-bar {
    .pswp__button {
      visibility: visible;
    }
    .pswp__button--arrow--left, .pswp__button--arrow--right {
      background-image: none;
      position: relative;
      height: 44px;
      width: 36px;
      margin-top: 0;
      top: 0;
      &::before {
        top: 8px;
        right: 0;
        left: 0;
        background-color: transparent;
      }
    }
  }
  .pswp__ui--hidden .pswp__top-bar {
    pointer-events: none;
  }
}

#submit-code {
  font-size: 150%;
}

#galleries {
  padding: 0 16px;
  input[type="button"] {
    margin-top: 16px;
    width: 100%;
    line-height: 400%;
    background: lightblue;
    ::after {
      content: '\A';
      white-space: pre;
    }
    &.done {
      text-decoration: line-through;
      background: lightgreen;
    }
  }
}

#error-url {
  display: none;
}
