.instructions {
  .enter-key {
    text-align: center;
    * {
      font-size: 100%;
    }
  }

  .extra-questions li {
    font-weight: bold;
  }

  .qr {
    text-align: center;
    .code {
      text-align: center;
      padding: 16px;
      > * {
        width: 100%;
        max-width: 3in;
      }
    }
    .link {
      font-size: 75%;
    }
    margin-bottom: 32px;
  }

  .disclaimer {
    font-size: 75%;
    border-top: 1px solid lightgray;
    margin-top: 32px;
  }
}