// why isn't this default?
*, *::before, *::after {
  box-sizing: border-box;
}

// this makes more semantic sense to me
body {
  margin: 0;
  padding: 16px;
}

// why isn't this default?
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="button"],
button {
  cursor: pointer;
}

// range sliders seem to need this
input[type="range"] {
  display: inline-block;
}

// fixes ios bugs
input[type="submit"],
input[type="button"] {
  appearance: none;
}
